/*
 * Title: nav.component.css
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.navbar-brand {
  color: #946b2d;
  font-size: 28px;
  font-weight: 500;
}

.navbar {
  background-color: white;
  color: #946b2d;
  padding: 15px 20px 10px 20px;
  font-size: 24px;
}

.nav-link {
  color: #946b2d;
  font-weight: 500;
}

.nav-link:hover {
  color: #bebebe;
}

.navbar-brand:hover {
  color: #946b2d;
}

.navbar-toggler {
  color: #946b2d;
}

.navbar-toggler .navbar-toggler-icon {
  cursor: pointer;
}

.btn-mod.btn-large {
  height: auto;
  padding: 6px 10px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: white;
  border: 2px solid #946b2d;
  background: #946b2d;
  border-radius: 8px;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #222f5b;
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus {
  color: #222f5b;
  border-color: #222f5b;
  background: #878787;
}
