<!--
 * Title: about.component.html
 * Author: Jennifer Hoitenga
 * Date: 11/6/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */
-->
<div class="bg-light">
  <div class="container py-5">
    <h2 class="about-info text-center">About Us</h2>
    <div class="row h-100 align-items-center py-4">
      <div class="col-lg-7">
        <!-- About Us -->
        <p class="lead mb-4 about-blue">
          Welcome to Nodebucket, your reliable digital tool for organizing tasks
          efficiently. Nodebucket is perfect for those who find satisfaction in
          a neatly organized list and appreciate a streamlined approach to
          managing their day.
        </p>
        <p class="lead mb-4 about-blue">
          Developed through the collaborative efforts of a dedicated team,
          Nodebucket represents a commitment to simplicity and effectiveness in
          task management. We believe in a tool that serves its purpose without
          complication, reflecting a clear focus on helping you achieve your
          objectives.
        </p>
        <p class="lead about-blue quote">
          Why choose Nodebucket for your task organization needs? It's the
          sensible choice for anyone who values order and straightforward
          efficiency when planning their daily activities.
        </p>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <!-- Team Picture -->
        <figure style="display: inline-block">
          <img
            src="assets/team.jpg"
            alt="Team Picture"
            class="img-fluid rounded"
          />
          <figcaption class="text-center p-2">
            <small class="text-muted" style="font-size: 60%">
              <em>Image courtesy of </em>
              <a
                href="https://unsplash.com/photos/man-in-white-dress-shirt-sitting-beside-woman-in-black-long-sleeve-shirt-376KN_ISplE"
                target="_blank"
                class="text-info"
              >
                Unsplash
              </a>
            </small>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-4">
      <div class="col-lg-12 order-2 order-lg-1">
        <h2 class="font-weight-light about-info">Key Features</h2>
        <ul class="custom-bullet mt-3">
          <li class="lead mb-4 feature">
            <!-- Features -->
            <i class="bi bi-key"></i> <b>Secure Portal: </b>Your tasks are
            protected with user login features, ensuring your information
            remains confidential.
          </li>
          <li class="lead mb-4 feature">
            <i class="bi bi-layout-text-window-reverse"></i>
            <b>An Intuitive Interface:</b> We prioritize ease of use, so
            managing your tasks feels natural and intuitive. With our
            drag-and-drop functionality, reorganizing your priorities is as
            simple as moving pieces on a chessboard—strategic and
            straightforward.
          </li>
          <li class="lead feature">
            <i class="bi bi-journal-code"></i> <b>Structured Knowledge:</b> For
            those interested in the technical side, we offer clear Swagger API
            documentation, streamlining the development experience.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-4">
      <div class="col-lg-5 d-none d-lg-block">
        <!-- Get Started Image -->
        <figure style="display: inline-block">
          <img
            src="assets/woman_phone.jpg"
            alt="Woman on Laptop using Phone"
            class="img-fluid rounded"
          />
          <figcaption class="text-center p-2">
            <small class="text-muted" style="font-size: 60%">
              <em>Image courtesy of </em>
              <a
                href="https://unsplash.com/photos/woman-in-blue-long-sleeve-shirt-using-silver-macbook-315vPGsAFUk"
                target="_blank"
                class="text-info"
              >
                Unsplash
              </a>
            </small>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-7">
        <!-- Get Started -->
        <h2 class="font-weight-light about-info">Get Started Today</h2>
        <p class="lead mb-4 about-blue">
          In essence, Nodebucket is about uncomplicating your task management.
          It's designed for those who desire clarity and take pleasure in
          accomplishing what they set out to do. Nodebucket supports you in
          navigating your responsibilities more effectively, affording you the
          time for other pursuits. It's about making the organizational part of
          your life feel as straightforward as possible, giving you the space to
          excel in the pursuits that truly matter to you.
        </p>
        <p class="lead mb-4 about-blue quote">
          <!-- Contact Us -->
          Ready to simplify your tasks and amplify your productivity?
          <a href="/#/contact" class="contact-us">Contact us today!</a>
        </p>
      </div>
    </div>
  </div>
</div>
