/*
 * Title: contact.component.scss
 * Author: Jennifer Hoitenga
 * Date: 11/1/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.contact-blue {
  color: #222f5b;
}
.contact-icon {
  color: #946b2d;
  font-size: 3rem;
  padding-top: 10px;
}

.contact-info {
  font-size: 1.25rem;
  font-weight: 500;
  color: #878787;
}
