/*
 * Title: sign-in.component.css
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
* Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.background-image {
  height: 100vh;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../../../assets/signin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  height: 100%;
}

.login-card {
  width: 350px;
  margin: 80px auto 0;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: relative;
}

.icon-container {
  width: 90px;
  height: 90px;
  background-color: #222f5b;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  color: #222f5b;
}

.login-field {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.fas.fa-user {
  color: white;
}

.login-container,
form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.back-link {
  margin-top: 20px;
  text-decoration: underline;
  color: #222f5b;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.back-link:hover {
  color: #ababab;
}
.btn-mod.btn-large {
  height: auto;
  padding: 13px 52px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: white;
  border: 2px solid #946b2d;
  background: #946b2d;
  border-radius: 8px;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #222f5b;
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus {
  color: #222f5b;
  border-color: #222f5b;
  background: #bebebe;
}
