<!--
 * Title: sign-in.component.html
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */
-->
<!-- Container with background image for the login page. -->
<div class="background-image">
  <!-- Image attribution -->
  <small class="text-gray" style="font-size: 60%">
    <em>Image courtesy of </em>
    <a href="https://www.Unsplash.com/" target="_blank" class="text-dark"
      >Unsplash.com
    </a>
  </small>
  <!-- Container for the login form. -->
  <div class="login-container">
    <!-- Card for the login form. -->
    <div class="login-card">
      <!-- Icon container with a user icon. -->
      <div class="icon-container">
        <i class="fas fa-user fa-3x"></i>
      </div>
      <!-- Title for the login card. -->
      <h1 class="login-title">Employee Sign In</h1>

      <!-- Form for user sign-in -->
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(); signInForm.reset()"
      >
        <!-- Employee ID Field -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="empId"
            placeholder="Employee ID"
            formControlName="empId"
          />
          <label for="empId">Employee ID</label>
        </div>

        <!-- Validation Error Messages for outside of range -->
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- Validation Error Message for empty input. -->
        <div
          *ngIf="form['empId'].errors && form['empId'].touched"
          class="alert alert-danger"
        >
          <div *ngIf="form['empId'].errors?.['required']">
            The Employee ID is required.
          </div>

          <!-- Validation Error Message for non-numeric input. -->
          <div *ngIf="form['empId'].errors?.['pattern']">
            The Employee ID should be a numeric value.
          </div>
        </div>

        <!-- Form submission button -->
        <button
          class="btn btn-mod btn-border btn-circle btn-large"
          type="submit"
          [disabled]="!signInForm.valid"
        >
          Sign In
        </button>
      </form>

      <!-- Navigate back to the homepage -->
      <a href="/" class="d-block mt-3 back-link">Go Back</a>
    </div>
  </div>
</div>
