<!--
 * Title: footer.component.html
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */
-->

<!-- Footer Section -->
<footer class="footer text-white py-4 mt-auto">
  <div class="container text-center">
    <!-- Social Media Icons -->
    <a href="https://twitter.com/" target="_blank" class="text-white mx-3">
      <i class="bi bi-twitter-x" style="font-size: 24px"></i>
    </a>
    <a href="https://facebook.com/" target="_blank" class="text-white mx-3">
      <i class="bi bi-facebook" style="font-size: 24px"></i>
    </a>
    <a href="https://linkedin.com/" target="_blank" class="text-white mx-3">
      <i class="bi bi-linkedin" style="font-size: 24px"></i>
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <!-- Link to Swagger Documentation -->
          <div class="mt-3">
            <a
              href="http://localhost:3000/api-docs/"
              target="_blank"
              class="text-white"
            >
              API Documentation
            </a>
          </div>
        </div>
        <!-- Copyright Info -->
        <div class="col-md-6 text-center">
          <div class="mt-3">&copy; 2023 Copyright</div>
        </div>
      </div>
    </div>
  </div>
</footer>
