/*
 * Title: task-management.component.css
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */

.task-heading {
  text-align: center;
  background-color: #222f5b;
  color: white;
  margin-top: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: calc(0.6rem + 0.9vw) !important;
  border: 3px solid #222f5b;
  border-radius: 5px;
}

.task-list {
  border: solid 1px #ccc;
  min-height: 60px;
  min-width: 300px;
  background: #222f5b;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: #222f5b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 18px;
  text-align: left;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  border: dotted 3px #222f5b;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.task-blue {
  color: #222f5b;
}

input {
  padding: 12px;
}

.gray-background {
  background-color: #bebebe;
  border: 3px solid #222f5b;
  border-radius: 5px;
}

.deleteIcon {
  color: #946b2d;
}

.small {
  font-size: 0.9rem;
}

.total {
  font-size: 1rem;
  color: #222f5b;
}

.btn-mod.btn-large {
  height: auto;
  padding: 7px 30px;
  font-size: 15px;
}

.btn-mod.btn-border {
  color: white;
  border: 2px solid #946b2d;
  background: #946b2d;
  border-radius: 8px;
}

.btn-mod,
a.btn-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #222f5b;
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus {
  color: #222f5b;
  border-color: #222f5b;
  background: #bebebe;
}
