<!--
 * Title: home.component.html
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
 */
-->

<!-- Hero Section -->
<section class="hero">
  <div class="container">
    <div class="row">
      <!-- Left Column - Text and Sign In Button -->
      <div class="col-md-6">
        <div>
          <div class="text-label">Welcome to Nodebucket</div>
          <div class="text-hero-regular">
            Your all-in-one task tracking solution!
          </div>
          <!-- Sign In Button -->
          <div *ngIf="!isLoggedIn()">
            <a
              routerLink="/security/sign-in"
              class="btn btn-mod btn-border btn-circle btn-large"
            >
              Sign In <i class="bi bi-box-arrow-in-right signIcon"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Right Column - Image -->
      <div class="col-md-6 text-center">
        <img src="assets/task-list.jpg" alt="Task List" class="full-img" />
        <!-- Image attribution -->
        <small class="text-gray" style="font-size: 60%">
          <em>Image courtesy of </em>
          <a href="https://www.freepik.com/" target="_blank" class="text-dark"
            >freepik.com
          </a>
        </small>
      </div>
    </div>
  </div>
</section>

<!-- Features Icons Section -->
<section class="features-icons text-center">
  <div class="container">
    <div class="row">
      <!-- Feature 1 - Effortless Task Management -->
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-6 mb-lg-0 mb-lg-3">
          <div
            class="features-icons-icon d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-file-text"></i>
          </div>
          <h3 class="about-blue">Effortless Task Management</h3>
          <p class="lead mb-4 feature">
            Effortlessly manage and organize your tasks using Nodebucket's
            intuitive tools. Stay in control of your projects, set priorities
            and track progress seamlessly.
          </p>
        </div>
      </div>
      <!-- Feature 2 - On-the-Go Mobile Accessibility -->
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-6 mb-lg-0 mb-lg-3">
          <div
            class="features-icons-icon d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-phone"></i>
          </div>
          <h3 class="about-blue">On-the-Go Mobile Accessibility</h3>
          <p class="lead mb-4 feature">
            Access Nodebucket anytime, anywhere with our mobile-friendly
            platform. Stay productive on the move, so you never miss a beat in
            your project management.
          </p>
        </div>
      </div>
      <!-- Feature 3 - An Intuitive User Interface -->
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div
            class="features-icons-icon d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-lightbulb"></i>
          </div>
          <h3 class="about-blue">An Intuitive User Interface</h3>
          <p class="lead mb-4 feature">
            Enjoy the simplicity of Nodebucket's user-friendly interface,
            enriched with drag-and-drop functionality, allowing you to manage
            your tasks with ease.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
