<!--
 * Title: base.component.html
 * Author: Jennifer Hoitenga
 * Date: 10/26/2023
 * Sources:
 * Nodebucket Starter Project: https://github.com/buwebdev/web-450/tree/master/starter-projects/nodebucket
 * Previous repositories from my personal GitHub: https://github.com/jhoitenga?tab=repositories
 * Bootstrap: https://getbootstrap.com/docs/5.3/getting-started/introduction/
-->
<div class="app-wrapper">
  <app-nav></app-nav>
  <!-- website navbar -->

  <main>
    <!-- The router outlet is where the different child components of the BaseLayout are rendered.  -->
    <router-outlet></router-outlet>
    <!-- Sign out button-->
    <button *ngIf="isLoggedIn()" (click)="signOut()">Sign Out</button>
  </main>

  <app-footer></app-footer>
  <!-- website footer -->
</div>
